<%- include ('./partials/header.ejs') %>

<div class="content-wrap">
  <header>
  	<h1>Result Page</h1>
  </header>
  <p>address entered is: <%= address %><br> member id entered is: <%= memberid %></p>
</div>

<%- include ('./partials/footer.ejs') %>