html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    margin: 20px;
}

#space-0 {
    padding: 25px;
}

.table-title {
    font-size: large;
}

.subheader {
    padding-left: 10px;
    margin-left: 10px;
}

#map {
    height: 500px;
    width: 100%;
}

.tab-content {
    display: none;
}

#tab-overview {
    display: block;
}

#tab-schools, #tab-census, #tab-crime, #tab-local {
    display: none;
}