<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title>It's a table!</title>
   <link rel="stylesheet" type="text/css" href="../stylesheets/layout.css">
</head>
<body>
  <div class="content-wrap">
     <header>
     		<h1>It's A Table Scraper!</h1>
     </header>
     <div id="headerBorder"></div>
     <form method="post">
       <label for="url">URL</label><br><input type="text" id="url" name="url" placeholder="enter url"><br>
       <label for="cd">Container Details</label><br><input type="text" id="cd" name="cd" placeholder="enter container details"><br>
       <label for= "ced">Container Entry Details</label><br><input type="ced" id="ced" name="ced" placeholder="enter container entry details"><br><br>
       <input type="submit" value="Submit" formaction="/submit" style="cursor: pointer;">
     </form>
  </div>
   <!-- <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p> -->
</body>
</html>
